# Step 2

Make an estimation of multivariate mathematical expectation and variance.

In [1]:
import pandas as pd


res = pd.read_csv('data/NVIDIA Corporation.csv', header=0, encoding='unicode_escape')
res = res.drop(columns=['Date', 'Volume'])

print('Multivariate Mathematical Expectation:')
res.mean().round(6)

Multivariate Mathematical Expectation:

High         28.684526
Low          27.580384
Open         28.151247
Close        28.147719
Adj Close    27.895075
dtype: float64

In [2]:
print('Multivariate Variance:')
res.var().round(6)

Multivariate Variance:

High         3246.210062
Low          2979.029832
Open         3118.440839
Close        3113.790678
Adj Close    3115.189152
dtype: float64

In [4]:
res.describe()

              High          Low         Open        Close    Adj Close
count  5996.000000  5996.000000  5996.000000  5996.000000  5996.000000
mean     28.684526    27.580384    28.151247    28.147719    27.895075
std      56.975522    54.580489    55.843002    55.801350    55.813880
min       0.355469     0.333333     0.348958     0.341146     0.313168
25%       2.710000     2.555000     2.637500     2.639375     2.422912
50%       4.219584     4.037500     4.148750     4.147917     3.810794
75%      23.593125    23.025000    23.343750    23.341875    23.002244
max     346.470001   320.359985   335.170013   333.760010   333.492706